alabaster==0.7.7
Django==1.10.5
django-debug-toolbar==1.6
django-dirtyfields==1.2.1
django-environ==0.4.1
django-latexify==0.1
django-mptt==0.8.7
django-pandas==0.4.1
django-pipeline==1.6.11
django-pipeline-typescript==0.2
django-plugins==0.3.0
django-suit==0.2.21
django-widget-tweaks==1.4.1
Flask==0.11.1
html5lib==0.999
httplib2==0.9.1
jsonschema==2.5.1
