<!DOCTYPE html>
<html lang="em">
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
  <script type="text/javascript" src="http://x3dom.org/x3dom/example/x3dom.js"></script>
  <title> {{ question.question_text }} </title>
  <style type ="text/css">
    h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
      
    h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }
    
    p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }
  </style>
</head>

<script>
  function randomData() {
  return d3.range(6).map( function() { return Math.random()*20; } )
  };

  x3d = d3.select("body")
  .append("x3d")
  .attr( "height", "400px" )
  .attr( "width", "400px" )
  ;
  var scene = x3d.append("scene");
  scene.append("viewpoint")
  .attr( "centerOfRotation", "3.75 0 10")
  .attr( "position", "13.742265188709691 -27.453522975182366 16.816062840792625" )
  .attr( "orientation", "0.962043810961999 0.1696342804961945 0.21376603254551874 1.379433089729343" )
  ;

  function refresh( data ) {
  shapes = scene.selectAll("transform").data( data );
  shapesEnter = shapes
  .enter()
  .append( "transform" )
  .append( "shape" )
  ;
  // Enter and update
  shapes.transition()
  .attr("translation", function(d,i) { return i*1.5 + " 0.0 " + d/2.0; } )
  .attr("scale", function(d) { return "1.0 1.0 " + d; } )
  ;

  shapesEnter
  .append("appearance")
  .append("material")
  .attr("diffuseColor", "steelblue" );

  shapesEnter.append( "box" )
  .attr( "size", "1.0 1.0 1.0" );
  }

  refresh( randomData() )
  setInterval(
  function(){
  refresh( randomData() );
  },
  2500);

</script>

<p>
  <form name = "myform">
    A[0] <input type="text" value="3" /><br />
    A[1] <input type="text" value="2" /><br />    
  </form>
  
  <script language="javascript" type="text/javascript">
    for (var i = 0; i < document.myform.elements.length; i++) {
    document.write("A["+i+"]" = "+document.myform.elements[i].value +"<br />");  
    }
  </script>

  <script type="text/javascript" src="d3/d3.v3.js"></script>
  <script type="text/javascript">

  </script>
  
  <form action="action_page.php">
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br><br>
    <input type="submit">
    </form>

  
The question we ask is:
<script language="javascript" type="text/javascript">
  var fruits = [
  {
  kind: "grape",
  color: "red",
  quantity: 12,
  tasty: true
  },

  {
  kind: "kiwi",
  color: "brown",
  quantity: 98,
  tasty: true
  },

  {
  kind: "banana",
  color: "yellow",
  quantity: 0,
  tasty: true
  }
  ];
</script>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'site1:vote' question.id %}" method="post">
{% csrf_token %}  
{% for choice in question.choice_set.all %}
<input type="radio" name="choice" id = "choice{{ forloop.counter }}" value="{{ choice.id }}"/>
<label for= "choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
  {% endfor %}
  <input type="submit" value="Vote"/>
</form>
<!-- scalable vector graphics -->
<svg width = "50", height = "50">
  <circle cx = "25" cy="25" r="22" fill="red" stroke="gray" stroke-width="2"/>
</svg>

<svg width = "50", height = "50">
<rect x="0" y="0" width="10" height="50"/>
</svg>

<svg width = "100", height = "100">
<rect x="0" y="0" width="30" height="30" fill="purple"/>
<rect x="0" y="0" width="30" height="30" fill="blue"/>
<rect x="0" y="0" width="30" height="30" fill="red"/>
</svg>



</p>
</html>
